# local accessible devices
IR_DEVICE_ID=
IR_ADDRESS=
IR_LOCAL_KEY=

SENSOR_DEVICE_ID=
SENSOR_ADDRESS=
SENSOR_LOCAL_KEY=

# tuya.com for zigbee devices
GATEWAY_IP=
GATEWAY_ID=
TUYA_VERSION=
TUYA_CHILD_KEY=

INDOOR_ID=
INDOOR_CID=

OUTDOOR_ID=
OUTDOOR_CID=
