# local accessible devices
IR_DEVICE_ID=
IR_ADDRESS=
IR_LOCAL_KEY=

SENSOR_DEVICE_ID=
SENSOR_ADDRESS=
SENSOR_LOCAL_KEY=

# tuya.com for zigbee devices
TUYA_API_REGION=eu
TUYA_API_CLIENT_ID=
TUYA_API_SECRET=

INDOOR_SENSOR_DEVICE_ID=
OUTDOOR_SENSOR_DEVICE_ID=

